<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Add script tag only when Available -->
    <% if(js.length > 0){
      for(var i=0;i<js.length;i++){ %>
        <script type="text/javascript" src="<%= js[i] %>"></script>
    <% }} %>
    <!-- Add link tag only when Available -->
    <% if(css.length > 0){
      for(var i=0;i<css.length;i++){ %>
        <link rel="stylesheet" type="text/css" href="<%= css[i] %>"/>
    <% }} %>

  </head>
  <body>
    <div id="seatsContainer" class="container"><%-bodyContent%></div>
  </body>
</html>
